<!DOCTYPE html>
<html>
  <head>

    <title><%=typeof title == 'undefined' ? 'DAppBoard' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%=typeof description == 'undefined' ? 'DAppBoard, an analytic platform for the Ethereum Blockchain, visualize data of smart contracts.' : description%>" />
    <meta name="keywords" content="<%=typeof description == 'undefined' ? 'DAppBoard' : description%>" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bulma-tooltip.min.css?v=1548435116356">
    <link rel="stylesheet" href="/styles/bulma.min.css?v=1548435116356">
    <link rel="stylesheet" href="/styles/c3.css?v=1548435116356">
    <link rel="stylesheet" href="/styles/date-range-picker.css?v=1548435116356">
    <link rel="stylesheet" href="/styles/font-awesome.css?v=1548435116356">
    <link rel="stylesheet" href="/styles/general.css?v=1548435116356">
    <link rel="stylesheet" href="/styles/importer.css?v=1548435116356">
    <link rel="stylesheet" href="/styles/office.css?v=1548435116356">
    <!--STYLES END-->

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <%- include('header'); %>

    <%- body %>

    <%- include('footer'); %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js?v=1548435116356"></script>
    <script src="/dependencies/jquery.js?v=1548435116356"></script>
    <script src="/dependencies/lodash.js?v=1548435116356"></script>
    <script src="/dependencies/moment.js?v=1548435116356"></script>
    <script src="/dependencies/d3.js?v=1548435116356"></script>
    <script src="/dependencies/c3.js?v=1548435116356"></script>
    <script src="/dependencies/vue.js?v=1548435116356"></script>
    <script src="/dependencies/vue-table.js?v=1548435116356"></script>
    <script src="/dependencies/vue-trend.js?v=1548435116356"></script>
    <script src="/dependencies/vue-typer.js?v=1548435116356"></script>
    <script src="/dependencies/parasails.js?v=1548435116356"></script>
    <script src="/dependencies/chart.js?v=1548435116356"></script>
    <script src="/dependencies/colorhash.js?v=1548435116356"></script>
    <script src="/dependencies/daterangepicker.js?v=1548435116356"></script>
    <script src="/dependencies/global_helpers.js?v=1548435116356"></script>
    <script src="/dependencies/global_tooltips.js?v=1548435116356"></script>
    <script src="/js/components/address/adress_etherscan_link.js?v=1548435116356"></script>
    <script src="/js/components/contracts/contract_icon.js?v=1548435116356"></script>
    <script src="/js/components/contracts/contract_image.js?v=1548435116356"></script>
    <script src="/js/components/dapps/zrx/tradingPair.js?v=1548435116356"></script>
    <script src="/js/components/date/from-now.js?v=1548435116356"></script>
    <script src="/js/components/general/general_trend_line.js?v=1548435116356"></script>
    <script src="/js/components/office/office_token_edit.js?v=1548435116356"></script>
    <script src="/js/components/tokens/token_image.js?v=1548435116356"></script>
    <script src="/js/pages/contracts/contracts_token_page_nfts.js?v=1548435116356"></script>
    <script src="/js/pages/contracts/contracts_token_page_users.js?v=1548435116356"></script>
    <script src="/js/pages/contracts/contracts_token_page.js?v=1548435116356"></script>
    <script src="/js/pages/contracts/contracts_token.js?v=1548435116356"></script>
    <script src="/js/pages/dapps/compound/index.js?v=1548435116356"></script>
    <script src="/js/pages/dapps/zrx/index.js?v=1548435116356"></script>
    <script src="/js/pages/landing/home.js?v=1548435116356"></script>
    <script src="/js/pages/office/tokens.js?v=1548435116356"></script>
    <script src="/js/pages/tokens/tokens_list.js?v=1548435116356"></script>
    <!--SCRIPTS END-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113482148-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113482148-1');
    </script>


    <script>
    </script>

    <script>
       $(document).ready(function() {
         // Check for click events on the navbar burger icon
         $(".navbar-burger").click(function() {
             // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
             $(".navbar-burger").toggleClass("is-active");
             $(".navbar-menu").toggleClass("is-active");
         });
       });
    </script>

  </body>
</html>
